body,input,button {
  --mainfont: "Copperplate"; /* : "Optima"; /**/
  font-family: var(--mainfont);
  text-align: center;
}
body {
  font-size: 200%;
}
input,button {
  font-size: 100%;
}
#error {
  color: #f00;
}
