body {
  font-family: "Arial";
}
button {
  background-color: #fff;
  border: 0px;
  display: block;
}
p,button {
  font-size: 125%;
}
webview {
  height: 100%;
}
#musicbar {
  background-color: #000;
  color: #fff;
  height: 5%;
  text-align: center;
}
.big {
  font-size: 200%;
}
.hidden {
  display: none;
}
.musicbutton {
  background-color: #000;
  color: #fff;
  display: inline;
}
.inline {
  display: inline;
}
.pointer {
  cursor: default;
}
