body {
  font-family: "Arial";
}
button {
  background-color: #fff;
  border: 0px;
  display: block;
}
p,button {
  font-size: 125%;
}
webview {
  height: 100%;
}
td {
  width: 33%;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
#musicbar {
  background-color: #000;
  color: #fff;
  height: 20%;
  text-align: center;
  width: 100%;
}
#musicname {
  font-weight: normal;
}
.big,.musicbutton {
  font-size: 200%;
}
.hidden {
  display: none;
}
.musicbutton {
  background-color: #000;
  color: #fff;
  display: inline;
}
.box {
  border: 1px solid #fff;
}
.inline {
  display: inline;
}
.pointer {
  cursor: default;
}
.center {
  text-align: center;
  display: block;
}
