body {
  --musicbarbg: rgb(18,5,71);
  --musicbarfg: rgb(255,255,0);
  --contentbg: rgb(46,105,107);
  --contentfg: rgb(255,255,255);
  --mainfont: ""; /* Copperplate, Optima, Skia */
  font-family: var(--mainfont);
  background-color: var(--contentbg)
  color: var(--contentfg)
}
button {
  background-color: var(--contentbg);
  color: var(--contentfg);
  font-family: var(--mainfont);
  border: 0px;
  display: block;
}
p,button {
  font-size: 125%;
}
webview {
  height: 50%;
}
table {
  width: 100%;
}
#musicbar {
  background-color: var(--musicbarbg);
  color: var(--musicbarfg);
  height: 20%;
  text-align: center;
}
#contentbar {
  vertical-align: top;
  height: 1000px;
  background-color: var(--contentbg);
  color: var(--contentfg);
}
#musicname {
  font-weight: normal;
}
#queue {
  width: 25%;
}
.musiccol {
  background-color: var(--musicbarbg);
  color: var(--musicbarfg);
  width: 33%;
  border-left: 1px solid var(--musicbarfg);
  border-right: 1px solid var(--musicbarfg);
}
.contentcol {
  vertical-align: top;
}
.big {
  font-size: 200%;
}
.hidden {
  display: none;
}
.musicbuttonsmall,.musicbutton {
  background-color: var(--musicbarbg);
  color: var(--musicbarfg);
  display: inline;
}
.musicbutton {
  font-size: 300%;
}
.inline {
  display: inline;
}
.box {
  border: 1px solid var(--musicbarfg);
}
.red {
  background-color: #f00;
  color: #fff;
}
.pointer {
  cursor: default;
}
.center {
  text-align: center;
  display: block;
}
